nav#index {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
}

nav#about{
   background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%; 
    position: fixed;
}

a.menu {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
a.menu:hover{
    color: black;
    background: #E0C4C4;
    font-weight: 700;
}

a.social{
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a.social:hover{
    color: black;
    background: #E0C4C4;
    font-weight: 700;
}

body{
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #dec3c5;
}

p{
    font-weight: 500;
}

div#profile{
    margin-top: 80px;
    padding-left: 25%;
    width: 25%;
    display: inline-block;
}

div#bio{
    width: 25%;
    padding: 10px;
    display: inline-block;
}

div#social{
    text-align: center;
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

div#gallery{
    padding-top: 1px;
    text-align: center;
    background: white;
}

img.gallery {
    width: 50%;
}

div#aboutme{
    padding-top: 50px;
    margin: auto;
    width: 30%;
}

div#images{
    width: 40%;
    margin: auto;
}