html{
    scroll-behavior: smooth;
}

nav#index {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
}

nav#about{
   background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%; 
    position: fixed;
}

a.menu {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
a.menu:hover{
    color: black;
    background: #dea4a8;
    font-weight: 700;
}

a.social{
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a.social:hover{
    color: black;
    background: #dea4a8;
    font-weight: 700;
}

body{
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    background: #dea4a8;
}

p {
    font-size: 20px;
    font-weight: 500;
}

p.profile{
    text-align: justify;
    font-size: 24px;
}

li {
    font-size: 32px;
    font-weight: 500;
}

div{
    
}

div.spacer {
    height: 50px;
    width: 100%;
}

    div.Container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.Contained{
        padding: 10px;
        width: 25%;
        display: inline-block;
    }

    div.ContainedFilm {
        padding: 10px;
        width: 50%;
        display: inline-block;
    }

    div.ContainedPhot {
        padding: 10px;
        width: 25%;
        display: inline-block;
    }
    
    div#profile {
        
        padding: 10px;
        width: 25%;
        display: inline-block;
    }

    div#bio {
        
        width: 25%;
        padding: 10px;
        display: inline-block;
    }

    div#social {
        text-align: center;
        background: black;
        padding-top: 15px;
        padding-bottom: 15px;
        
        clear: both;
        margin-left: 10%;
        margin-right: 10%;
    }

    div#gallery {
        padding-top: 1px;
        text-align: center;
        background: white;
        margin-left: 10%;
        margin-right: 10%;
    }

iframe.gallery {
    width: 50%;

}

iframe.galleryFilm {
    width: 90%;
}

img.gallery {
    width: 75%;
}

img.galleryPhot {
    width: 85%;
}

p.gallery {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 18px;
    text-align: justify;
}

img#pfp {
    width: 100%;
    height: auto;
}

div#aboutme{
    padding-top: 50px;
    margin: auto;
    width: 30%;
}

div#images{
    width: 40%;
    margin: auto;
}

.galleryPhot:hover {
    color: #424242;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.15);
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
}

@media (max-width: 1000px) {
    div.Container {
        flex-direction: column;
    }

    img#pfp {
        justify-self: center;
    }

    div.Contained {
        width: 80%;
    }

    div.ContainedFilm {
        width: 80%;
    }

    iframe.gallery {
        width: 75%;
    }
    img.galleryPhot{
        width: 100%;
    }
}
